body {
	margin-top: 30px;
	margin-bottom: 60px;
}
p {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}
li {
	margin-top: 1em;
	margin-bottom: 1em;
}
h1.title {
	font-size: 2.5em;
	margin-top: 1em;
	font-weight: normal;
	margin-bottom: 10px;
}
h1 {
	font-size: 2em;
	margin-top: 1.2em;
	margin-bottom: 0.5em;
}
h1 small {
	color: #777;
}

ul.menu {
	font-size: 1em;
	margin: 0;
	padding: 0;
}
ul.menu li {
	list-style-type: none;
	margin-top: 0em;
	margin-bottom: 0em;
}
ul.menu h2 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
}
ul.menu li>ul {
	margin-top: .5em;
	padding-left: 0em;
	line-height: 1.5em;
}

.note {
	font-style: italic;
}

.side-header h2 {
	font-weight: bold;
	font-size: 1.1em;
	line-height: 24px;
	margin-top: 7px;
}

.side-header h3 {
	font-size: 1em;
	margin-top: 0px;
}

.side-header p {
	color: 	#777;
}

.preferred-method h2 {
	font-weight: bold;
	font-size: 1.1em;
	line-height: 24px;
	display: inline;
	margin-right: 0.5em;
	margin-top: 0px;
}

.table-features {
	width: 100%;
	margin-bottom: 18px;
	border: 1px solid #ddd;
	border-radius: 4px;
	border-collapse: inherit;
}
.table-features td {
	padding: 6px 12px;
	border: none;
}

.install-menu {
	margin-top: 5em;
}

.install-menu .row {
	margin-bottom: 1.5em;
}

.table-installers {
	margin-left: 2em;
	width: 30em;
	border-spacing: 2px;
	border: 0px;
	empty-cells: hide;
}

.table-installers td {
	border: 1px solid #ddd;
	text-align: center;
	border-radius: 4px;
}

.table-installers td.inst-type {
	border: 0px;
	font-weight: bold;
	text-align: left;
	width: 15em;
}

.table-installers td div {
	height: 100%;
	width: 100%;
	border: 2px solid green;
}

@media (min-width: 992px) {
	img.ribbon {
		display: inline !important;
		position: absolute;
		top: 0;
		right: 0;
		border: 0;
	}
}

pre { background-color: #FDFDFD; }

/* Code highlighting */
pre.rust .kw { color: #8959A8; }
pre.rust .kw-2, pre.rust .prelude-ty { color: #4271AE; }
pre.rust .number, pre.rust .string { color: #718C00; }
pre.rust .self, pre.rust .boolval, pre.rust .prelude-val,
pre.rust .attribute, pre.rust .attribute .ident { color: #C82829; }
pre.rust .comment { color: #8E908C; }
pre.rust .doccomment { color: #4D4D4C; }
pre.rust .macro, pre.rust .macro-nonterminal { color: #3E999F; }
pre.rust .lifetime { color: #B76514; }