div.container {
    margin-top: 0em;
}
p {
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 {
    margin-top: 50px;
    font-size: 24px;
}
h2 {
    padding-top: 7px;
    font-size: 14px;
}
table {
    padding: 10px;
}
#features td {
    padding: 5px;
    border: none;
}
pre {
    padding: 15px;
}

#banner {
    margin-bottom: 2em;
}
#banner h1>small {
    margin-left: 2em;
}

#logo {
    margin: 40px 100px 0px 0px;
    display: inline;
    float: right;
}

ul.menu li {
    list-style: none;
    margin-bottom: .2em;
}
ul.menu li.menu-header {
    margin-bottom: 2em;
}
ul.menu li.menu-header>ul {
    margin-top: 1em;
    margin-left: 0em;
    padding-left: 0em;
}
ul.menu li.release>ul {
    margin-left: 1em;
}
ul.menu li.release>ul>li {
    display: inline;
}

#pitch {
    margin-top: 2em;
}
#pitch p {
    margin: 2em 1em 2em 1em;
    line-height: 1.8em;
    font-style: italic;
}

#thats-rust {
    text-align: right;
}
