---
layout: basic
title:  Friends of Rust &middot; The Rust Programming Language
---

<div id="users">

  <h1>Friends of Rust</h1>
  <h2>(Organizations running Rust in production)</h2>

  {% include friends-of-rust.html %}

  <p id="user-add-info">
    If your organization uses Rust in production and you want it
    listed on this page,<br/>please
    <a href="{{ site.github_user_add_info_link }}">
      open an issue and fill out the information requested therein</a>.
  </p>

</div>

<script type="text/javascript">
  {% include friends.js %}
</script>
