<pre class='rust'>
<span class='kw'>fn</span> main() {
    <span class='kw'>let</span> greetings = [<span class='string'>"Hello"</span>, <span class='string'>"Hola"<span>, <span class='string'>"Bonjour"</span>,
                     <span class='string'>"こんにちは"</span>, <span class='string'>"您好"</span>];

    <span class='kw'>for</span> (num, greeting) in greetings.iter().enumerate() {
        <span class='prelude-val'>println!</span>(<span class='string'>"{}"</span>, greeting);
        <span class='kw'>match</span> num {
            0 =>  <span class='prelude-val'>println!</span>(<span class='string'>"This code is editable and runnable!"</span>),
            1 =>  <span class='prelude-val'>println!</span>(<span class='string'>"Este código es editable y ejecutable!"</span>),
            2 =>  <span class='prelude-val'>println!</span>(<span class='string'>"Ce code est modifiable et exécutable !"</span>),
            3 =>  <span class='prelude-val'>println!</span>(<span class='string'>"このコードは編集して実行出来ます！"</span>),
            4 =>  <span class='prelude-val'>println!</span>(<span class='string'>"这段代码是可以编辑并且能够运行的！"</span>),
            _ =>  {},
        }
    }
}
</pre>
