
<div id="users" class="row"></div>
<h2 class="friends-more">See more <a href="/friends.html">uses of Rust in production</a></h2>

<script type="text/javascript">

(function() {
'use strict';

var users = [
{% for user in site.data.users %}{
  url: "{{user.url}}",
  logo: "../user-logos/{{user.logo}}",
  name: "{{user.name}}"
},
{% endfor %}];

function getRandomThree() {
  users.sort(function(a, b) {
      return Math.random() - 0.5;
  });

  return users.slice(0, 3);
}

function renderUser(user) {
  var logo = document.createElement('div');

  logo.innerHTML = '\
    <div class="user-container">\
      <a href="' + user.url + '" rel="nofollow" alt="' + user.name + '">\
        <img src="' + user.logo + '">\
      </a>\
    </div>\
  ';

  logo.className = 'col-md-4';

  return logo;
}

var frag = document.createDocumentFragment();

getRandomThree().map(renderUser).forEach(function(el) { frag.appendChild(el); });

document.getElementById('users').appendChild(frag);


})();


</script>

