---
layout: zh-CN/basic
title:  Rust 之友 &middot; Rust 程序设计语言

localized-teams:
-
  name: 1aim
  url: https://1aim.com/
  logo: 1aim.svg
  how: "现代、安全、通用的访问管理。"
-
  name: 360dialog
  url: http://www.360dialog.com
  logo: 360dialog.png
  how: "我们大多数的“服务消费者”都是采用 Rust 编写。"
-
  name: 3DR
  url: https://3dr.com/
  logo: 3dr.svg
  how: "用 Rust 处理由 USB 设备到关键组件的通信，为无人机飞行和我们的移动应用服务。"
-
  name: Academia.edu
  url: https://www.academia.edu/
  logo: academia.edu.svg
  how: "将字符串转换成结构化纸张和作者数据，<a href='https://github.com/djudd/human-name-rb'>比 Ruby 更快</a>。"
-
  name: AgilData
  url: http://www.agildata.com/
  logo: agildata.svg
  how: "<a href='http://www.agildata.com/packet-capturing-mysql-with-rust/'>MySQL 封包捕获工具</a>。"
-
  name: Algorithmia
  url: https://algorithmia.com/
  logo: algorithmia.png
  how: "<a href='http://blog.algorithmia.com/2016/05/algorithmia-now-supports-python-3-javascript-rust-ruby/'>Rust 算法开发</a>是我们平台的一等大事。"
-
  name: ANIXE
  url: http://www.anixe.pl/
  logo: anixe.png
  how: "用 Rust 建立下一代旅游服务交易平台。"
-
  name: AppSignal
  url: https://appsignal.com/
  logo: appsignal.png
  how: "快速、强大的 Web 应用监控代理。"
-
  name: Ather Energy
  url: https://www.atherenergy.com/
  logo: ather.svg
  how: "可靠地向云端发送摩托车数据。"
-
  name: Autumn
  url: http://autumnai.com
  logo: autumn.png
  how: "<a href='https://medium.com/@autumn_eng/about-rust-s-machine-learning-community-4cda5ec8a790'>用 Rust 编写的机器学习</a>。"
-
  name: Beget
  url: https://beget.com
  logo: beget.png
  how: "作为备份、资源管理系统和 <a href='https://github.com/LTD-Beget/syncookied'>DDOS 缓解措施</a> 的一部分"
-
  name: Braintree
  url: https://www.braintreepayments.com/
  logo: braintree.png
  how: "加速批量处理和小型命令行实用程序。"
-
  name: Calyptech
  url: http://calyptech.com
  logo: calyptech.png
  how: "用于高性能嵌入式系统组件，作为 C 的替代品。"
-
  name: Cambridge Consultants
  url: http://www.cambridgeconsultants.com/
  logo: cambridge-consultants.png
  how: "<a href='http://blog.cambridgeconsultants.com/wireless-product-development/presentation-mozillas-rust-and-why-we-love-it/'>我们正在面向我们客户的项目上编写和输送 Rust 代码。</a>。"
-
  name: Canonical
  url: http://www.canonical.com
  logo: canonical.svg
  how: "从服务器监控到中间件的一切！"
-
  name: Ceph
  url: http://ceph.com
  logo: ceph.png
  how: "<a href='https://github.com/ceph/ceph-rust'>面向 librbd 的 Rust 绑定</a>，它是一个传入 Ceph存储平台的接口。"
-
  name: Chef
  url: https://www.chef.io/
  logo: chef.svg
  how: "<a href='https://github.com/chef/delivery-cli'>Chef 让您可以开发、部署和管理基础架构、运行时环境和应用程序。</a>"
-
  name: Clever Cloud
  url: https://www.clever-cloud.com/
  logo: clever-cloud.svg
  how: "We <a href='https://www.clever-cloud.com/doc/rust/rust/'>托管 Rust web 应用程序</a>，并且我们的部分基础设施也是使用 Rust 开发。"
-
  name: CodePicnic
  url: https://codepicnic.com
  logo: codepicnic.png
  how: "我们提供 Rust <a href='https://codepicnic.com/posts/console-of-the-day-rust-f7664060cc52bc6f3d620bcedc94a4b6/?utm_source=twitter&utm_medium=blog&utm_term=codepicnic+rust&utm_campaign=codepicnic_features_201702'>沙箱</a>，人们可以用它来学习，以及复刻（Fork）、扩展所想的示例或应用程序。"
-
  name: Coursera
  url: https://www.coursera.org
  logo: coursera.png
  how: "<a href='http://betacs.pro/blog/2016/07/07/docker-and-rust/'>安全的 Docker 容器</a> 中的 <a href='https://building.coursera.org/blog/2016/07/07/rust-docker-in-production-coursera/'>编程分配</a>。"
-
  name: Coredump Hackerspace
  url: https://www.coredump.ch/
  logo: coredump.png
  how: "我们开发了 <a href='https://github.com/coredump-ch/'>CLI 工具、游戏和和我们的后端基础架构</a>，以及<a href='https://www.coredump.ch/tag/rust/'>组织事件</a>"
-
  name: Coturnix
  url: http://www.coturnix.fr/
  logo: coturnix.png
  how: "用机器学习和优化最大限度地减少建筑物的能源消耗。"
-
  name: craft ai
  url: http://craft.ai
  logo: craftai.png
  how: "我们的核心机器学习引擎采用 Rust 编写。"
-
  name: Dazta
  url: https://www.dazta.com
  logo: dazta.svg
  how: "用 Rust 建立智能金融产品。"
-
  name: Delimiter
  url: https://www.delimiter.com/
  logo: delimiter.png
  how: "Rust 为我们的裸机配置系统提供动力。"
-
  name: Dropbox
  url: https://www.dropbox.com
  logo: dropbox.svg
  how: "<a href='http://www.wired.com/2016/03/epic-story-dropboxs-exodus-amazon-cloud-empire/'>优化云文件存储</a>。"
-
  name: ETCDEV Team
  url: https://www.etcdevteam.com/
  logo: etcface.png
  how: "ETCDEV Team 是一批专业的软件工程师，全职工作于 Ethereum Classic 核心项目。"
-
  name: Ethcore
  url: https://ethcore.io
  logo: ethcore.png
  how: "<a href='https://ethcore.io/parity.html'>为 Ethereum 革命提供动力。</a>"
-
  name: Everlane
  url: http://www.everlane.com/
  logo: everlane.png
  how: "<a href='https://precompile.com/2016/06/23/shipping-forgettable-microservices-with-rust.html'>可靠的高性能指标聚合和转发</a>。"
-
  name: Faraday
  url: http://faraday.io
  logo: faraday.svg
  how: "<a href='https://github.com/faradayio/credentials_to_env'>安全传输凭据。</a>"
-
  name: GiGa infosystems GmbH
  url: https://www.giga-infosystems.com
  logo: giga.svg
  how: "Rust 是我们重写数据库以用于 3D 地质模型数据库的主要工具。"
-
  name: Gremlin Inc
  url: https://www.gremlininc.com
  logo: gremlininc.svg
  how: "安全、有效地促成受控制的混沌。"
-
  name: Habitat
  url: https://www.habitat.sh
  logo: habitat.svg
  how: "<a href='https://github.com/habitat-sh/habitat'>Habitat 是一个应用自动化框架</a>。"
-
  name: Honeypot
  url: https://www.honeypot.io/
  logo: honeypot.svg
  how: "We <a href='http://blog.honeypot.io/open-sourcing-searchspot/'>建立并使用 Searchspot</a>，这是一种基于 Elasticsearch 的搜索引擎。招聘人员使用它来搜索正在寻找的开发人员。"
-
  name: krypt.co
  url: https://krypt.co
  logo: krypt.co.png
  how: "在 iOS 与 Android 之间共享用于 <a href='https://github.com/kryptco/ssh-wire'>SSH 主机签名验证</a>的代码，以及一个 <a href='https://github.com/KryptCo/kr/tree/master/pkcs11shim'>PKCS11 共享库</a>。"
-
  name: LINE
  url: https://line.me/
  logo: line.png
  how: "用于配置助手。"
-
  name: Linkerd
  url: https://linkerd.io/
  logo: linkerd.svg
  how: "<a href='https://blog.buoyant.io/2017/03/29/introducing-linkerd-tcp/'>我们使用 Rust 来扩展 Linkerd 服务网格，一个轻量级的 TCP/TLS 负载平衡器。</a>"
-
  name: Linki Tools
  url: http://linki.tools/
  logo: linkitools.png
  how: "用于测试和验证的工具链。"
-
  name: MaidSafe
  url: http://www.maidsafe.net
  logo: maidsafe.svg
  how: "建立一个分布式的数据和通信网络。"
-
  name: Mozilla
  url: https://www.mozilla.org
  logo: mozilla.png
  how: "建立 <a href='https://servo.org'>Servo</a> 浏览器引擎，<a href='https://bugzilla.mozilla.org/show_bug.cgi?id=1135640'>集成到 Firefox</a>，以及其他项目。"
-
  name: Navitia
  url: http://www.navitia.io
  logo: navitia.svg
  how: "<a href='https://github.com/CanalTP/mimirsbrunn'>基于 Elasticsearch 建立的地理编码服务。</a>"
-
  name: npm, Inc
  url: http://www.npmjs.com
  logo: npm.svg
  how: "代替 C 语言并重写注册表服务架构中的性能关键瓶颈。"
-
  name: OneSignal
  url: https://onesignal.com
  logo: onesignal.svg
  how: "大容量、跨平台的推送通知<a href='https://onesignal.com/blog/rust-at-onesignal/'>投递</a>。"
-
  name: OVH
  url: https://www.ovh.com
  logo: ovh.png
  how: "我们用 Rust 来构建高性能、高可用性的<a href='https://www.runabove.com/paas-logs.xml'>日志管理系统</a>。"
-
  name: Postmates
  url: https://postmates.com/
  logo: postmates.png
  how: "Rust 正在 Infrastructure 团队编写系统守护进程的过程中孵化。"
-
  name: PingCAP
  url: https://github.com/pingcap/tikv
  logo: pingcap.png
  how: "使用 Rust 和 Raft 建立分布式键值存储。"
-
  name: PurchaseClinic.com
  url: http://purchaseclinic.com/
  logo: purchaseclinic.com.png
  how: "我们的后端（REST API）是一个 100% 的 Rust 服务器，基于 Iron。"
-
  name: Sandstorm
  url: https://sandstorm.io
  logo: sandstorm-logo-rust.svg
  how: "<a href='https://sandstorm.io/news/2016-08-09-collections-app'>我们的 Collections 应用</a>的后端采用 Rust 编写。"
-
  name: Sentry
  url: https://www.getsentry.com/
  logo: sentry-horizontal-black.svg
  how: "<a href='http://lucumr.pocoo.org/2016/7/10/rust-rest/'>一个 Sentry API 的命令行客户端。</a>"
-
  name: slowtec
  url: http://www.slowtec.de/
  logo: slowtec.svg
  how: "我们强大、可靠的自动化系统完全采用 Rust 编写。"
-
  name: SmartThings
  url: http://www.smartthings.com/
  logo: smartthings.png
  how: "我们的 <a href='https://www.smartthings.com/how-it-works'>SmartThings Hub</a> 中有了内存安全的嵌入式应用程序，并支持在云中提供服务。"
-
  name: Snips
  url: https://snips.ai/
  logo: snips.svg
  how: "<a href='https://github.com/snipsco/rust-threshold-secret-sharing'>AI assistants that are private by design</a>."
-
  name: Spoqa
  url: https://www.spoqa.com/
  logo: spoqa.png
  how: "我们的 POS 集成 SDK 完全用 Rust 编写。"
-
  name: Stratum Security
  url: https://stratumsecurity.com/
  logo: stratum.png
  how: "数据渗透测试和应用安全。"
-
  name: superscale networks
  url: https://www.superscale.io/
  logo: superscale.svg
  how: "我们在成千上万的 4-16Mb RAM 的 Linux 路由器上运行 rust-mips。Rust 是唯一的有足够运行约束的现代语言，使之成为可能。"
-
  name: Telenor Digital
  url: https://www.telenordigital.com/
  logo: telenordigital.png
  how: "提高并发 Webhook 投递服务的性能和可靠性。"
-
  name: Tessel
  url: https://www.tessel.io
  logo: tessel.svg
  how: "支持 Rust 应用的单板计算平台。"
-
  name: thoughtram
  url: http://thoughtram.io
  logo: thoughtram.png
  how: "我们的训练平台 classroom.thoughtram.io 的后端采用 nickel.rs，100% 的 Rust"
-
  name: ThreatX
  url: https://threat-x.com/
  logo: threatx.svg
  how: "Threat X Web 应用防火墙（WAF）和中央分析引擎采用 Rust 编写，促进高带宽 Web 应用程序的实时分析。"
-
  name: Tilde
  url: http://www.tilde.io
  logo: tilde.png
  how: "<a href='http://blog.skylight.io/rust-means-never-having-to-close-a-socket/'>优化 Skylight</a>，Rails 分析器。"
-
  name: TrafficLand
  url: http://www.trafficland.com/
  logo: trafficland.svg
  how: "视频转码、操作和分析。"
-
  name: Wire
  url: https://wire.com
  logo: wire.svg
  how: "<a href='https://github.com/wireapp/proteus'>Wire 的 Axolotl 协议实现和其他密码学及实用工具库</a>采用 Rust 开发，然后为 iOS 和 Android 交叉编译。"
-
  name: Xero
  url: https://www.xero.com
  logo: xero.png
  how: "美观的会计软件的基础设施。"
-
  name: AdHawk
  url: https://www.tryadhawk.com
  logo: adhawk.png
  how: "我们使用 Rust 解析我们所有的 User-Agent 头。"
-
  name: TreeScale
  url: https://www.treescale.com
  logo: treescale.png
  how: "在 TreeScale，我们使用 Rust 和 MIO 实现了分布式的 PubSub 系统，这为我们提供了8倍的性能来处理和分发容器映像"
-
  name: EVO.company
  url: https://evo.company
  logo: evo.company.svg
  how: "我们有用 Rust 编写的 <a href='https://vagga.readthedocs.org'>开发工具</a>、集装箱化、监控和业务流程系统。"
---

<div id="users">

  <h1>Rust 之友</h1>
  <h2>(在项目中使用 Rust 的组织)</h2>

  {% for user in site.data.users %}
    {% assign mod = forloop.index | minus:1 | modulo:3 %}
    {% if mod != 0 %}
    {% continue %}
    {% endif %}

    {% assign offset = forloop.index | minus:1 %}

    <div class="row">
      {% for user in site.data.users limit:3 offset:offset %}
        <div class="col-md-4 friend"
             id="user-logo-{{offset}}-{{forloop.index}}">
          <div class="user-container">
            <a href="{{user.url}}" rel="nofollow" alt="{{user.name}}">
              <img src="../user-logos/{{user.logo}}">
            </a>
          </div>
          <div class="details user-detail fade-out"
            id="user-details-{{offset}}-{{forloop.index}}">
            <p><em>{{user.name}}</em> : {{user.how}}</p>
          </div>
        </div>

        <script type="text/javascript">
          var logo = document.getElementById("user-logo-{{offset}}-{{forloop.index}}");
          logo.onmouseover = function() {
            var allDetails = document.querySelectorAll(".user-detail");
            for (var i = 0; i < allDetails.length; i++) {
              var details = allDetails[i];
              details.className = details.className.replace(" fade-in", "");
              details.className = details.className.replace(" fade-out", "");
              details.className += " fade-out";
            }

            var details = document.getElementById("user-details-{{offset}}-{{forloop.index}}");
            details.className = details.className.replace(" fade-in", "");
            details.className = details.className.replace(" fade-out", "");
            details.className += " fade-in";
          };

          logo.onmouseout = function() {
            var details = document.getElementById("user-details-{{offset}}-{{forloop.index}}");
            details.className = details.className.replace(" fade-in", "");
            details.className = details.className.replace(" fade-out", "");
            details.className += " fade-out";
          };
        </script>
      {% endfor %}

  </div>

  {% endfor %}

  <p id="user-add-info">
    如果您所在的组织在项目中使用了 Rust 并且想要在此页面中展示<br/>请您
    <a href="https://github.com/rust-lang/rust-www/issues/new?title=New+Website+Logo%3A+[insert+name]%0A&body=To+list+your+organization%27s+logo+on+the+Rust+website%2C+fill+out+the+following+information+and+click+%22submit+new+issue%22.+Alternately%2C+you+may+edit+_data%2Fusers.yml+as+described+therein+and+submit+a+pull+request.%0D%0A%0D%0A-+Organization+name%3A+%28as+you+want+it+displayed%29%0D%0A-+Homepage+url%3A+%28homepage%2Fprimary+entry+point+for+users%29%0D%0A-+Logo+url%3A+%28svg+if+possible%2C+pngs+over+400x200px+with+transparent+backgrounds+are+also+acceptable%29%0D%0A-+How+you+are+using+Rust%3A+%28one+sentence+describing+your+use+of+Rust%29%0D%0A-+Url+describing+Rust+usage%3A+%28optional+link+to+e.g.+blog+post+explaining+how+you+use+Rust%29%0D%0A-+Organization+contact%3A+%28name+and+email.+we+may+contact+you+when+updating+this+page.+alternately+you+may+email+this+information+to+user-logos%40rust-lang.org+and+it+will+be+kept+secret%29.%0D%0A">
      新建一个 issue 并且填写必要的信息</a>。
  </p>

</div>

<script type="text/javascript">
  {% include friends.js %}
</script>
