---
layout: es-ES/basic
title:  Amigos de Rust &middot; El lenguaje de programación Rust
---

<div id="users">

  <h1>Amigos de Rust</h1>
  <h2>(Organizaciones que ejecutan Rust en producción)</h2>

  {% include friends-of-rust.html %}

  <p id="user-add-info">
    Si su organización usa Rust en producción y desea estar listado en esta
    página,<br/> por favor
    <a href="{{ site.github_user_add_info_link }}">
      abra un <i>issue</i> y llénelo con la información solicitada</a>.
  </p>

</div>

<script type="text/javascript">
  {% include friends.js %}
</script>
