<!DOCTYPE html>
<!-- Page last generated {{ site.time }} -->
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="keywords" content="Rust, Rust programming language, мова програмування Rust, rustlang, rust-lang, Mozilla Rust">
    <meta name="description" content="Неймовірно швидка мова для системного програмування без помилок сегментації і з гарантіями потокової безпеки.">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body class="container">
    <a href="https://github.com/rust-lang/rust">
      <img class="ribbon" style="display: none" src="/logos/forkme_es_es.svg" alt="Fork me en GitHub" width="298" height="298">
    </a>

    <header>
      <ul class="row menu">
	<li class="col-xs-12 col-md-2">
          <a href="/uk-UA/index.html">
            <img class="img-responsive" src="/logos/rust-logo-blk.svg" onerror="this.src='/logos/rust-logo-256x256-blk.png'" height="128" width="128" alt="Logo de Rust" />
          </a>
	</li>
	<li class="col-xs-12 col-md-10 menu">
	  <h2><a href="/uk-UA/documentation.html">Документація</a></h2>
	  <h2><a href="/uk-UA/install.html">Встановлення</a></h2>
	  <h2><a href="/uk-UA/community.html">Спільнота</a></h2>
	  <h2><a href="/uk-UA/contribute.html">Участь</a></h2>
	</li>
      </ul>
    </header>

    {{ content }}

    <footer>
      <p>Наш сайт іншими мовами:
        {% include footer.html %}
      </p>
    </footer>
  </body>
</html>
