---
layout: pt-BR/basic
title:  Amigos do Rust &middot; A linguagem de programação Rust
---

<div id="users">

  <h1>Amigos do Rust</h1>
  <h2>(Organizações usando Rust em produção)</h2>

  {% include friends-of-rust.html %}

  <p id="user-add-info">
    Se a sua organização usa Rust em produção e você quer ela listada nessa página,<br/>por favor,
    <a href="{{ site.github_user_add_info_link }}">
    abra uma issue e preencha a informação requisitada lá</a>.
  </p>

</div>

<script type="text/javascript">
  {% include friends.js %}
</script>
