---
layout: id-ID/basic
title: Sahabat Rust &middot; Bahasa Pemrograman Rust
---

<div id="users">

  <h1>Sahabat-sahabat Rust</h1>
  <h2>(Organisasi yang menggunakan Rust dalam produksi)</h2>

  {% include friends-of-rust.html %}

  <p id="user-add-info">
    Jika organisasi anda menggunakan Rust dalam produksinya dan anda ingin
    terdaftar di laman ini,<br/>silakan
    <a href="{{ site.github_user_add_info_link }}">
      buat sebuah isu dan isikan informasi yang diminta</a>.
  </p>

</div>

<script type="text/javascript">
  {% include friends.js %}
</script>
