<!DOCTYPE html>
<!-- Page last generated {{ site.time }} -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="keywords" content="Rust, Linguaggio di programmazione Rust, rustlang, rust-lang, Mozilla Rust">
    <meta name="description" content="Un linguaggio di programmazione per sistemi ad altissime prestazioni che previene errori di segmentazione e assicura la sicurezza della memoria.">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body class="container">
    <a href="https://github.com/rust-lang/rust">
      <img class="ribbon" style="display: none" src="/logos/forkme_it_it.svg" alt="Forkami on GitHub" width="298" height="298">
    </a>

    <header>
      <ul class="row menu">
	<li class="col-xs-12 col-md-2">
          <a href="/it-IT/index.html">
            <img class="img-responsive" src="/logos/rust-logo-blk.svg" onerror="this.src='/logos/rust-logo-256x256-blk.png'" height="128" width="128" alt="Rust logo" />
          </a>
	</li>
	<li class="col-xs-12 col-md-10 menu">
	  <h2><a href="/it-IT/documentation.html">Documentazione</a></h2>
	  <h2><a href="/it-IT/install.html">Installazione</a></h2>
	  <h2><a href="/it-IT/community.html">Comunità</a></h2>
	  <h2><a href="/it-IT/contribute.html">Contribuisci</a></h2>
	</li>
      </ul>
    </header>

    {{ content }}

    <footer>
      <p>Il nostro sito in altre lingue:
        {% include footer.html %}
      </p>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58390457-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
