<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Rust, Rust programming language, rustlang, Mozilla Rust">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body class="container">
    <a href="//github.com/rust-lang/rust"><img class="ribbon" style="display: none" src="/logos/forkme.png" alt="Fork me on GitHub"></a>

    <header>

    <ul class="row menu">
      <li class="col-xs-12 col-md-4">
        <a href="index.html"><img class="img-responsive" src="logos/rust-logo-128x128-blk-v2.png" height="128" width="128" alt="Rust logo" /></a>
      </li>
      <li class="col-xs-4 col-md-2 col-md-offset-2"><h2>Docs (Nightly)</h2>
        <ul>
          <li><a href="http://doc.rust-lang.org/tutorial.html">Tutorial</a></li>
          <li><a href="http://doc.rust-lang.org/rust.html">Manual</a></li>
          <li>
            <a href="http://doc.rust-lang.org/std/index.html">std API docs</a></li>
            <li><a href="http://doc.rust-lang.org/index.html">All docs</a>
          </li>
        </ul>
      </li>
      <li class="col-xs-4 col-md-2"><h2>Docs (0.10)</h2>
        <ul>
          <li><a href="http://doc.rust-lang.org/0.10/tutorial.html">Tutorial</a></li>
          <li><a href="http://doc.rust-lang.org/0.10/rust.html">Manual</a></li>
          <li>
            <a href="http://doc.rust-lang.org/0.10/std/index.html">std API docs</a></li>
            <li><a href="http://doc.rust-lang.org/0.10/index.html">All docs</a>
          </li>
        </ul>
      </li>
      <li class="col-xs-4 col-md-2"><h2>Community</h2>
        <ul>
          <li>
            <a href="http://github.com/rust-lang/rust">GitHub</a>
          </li>
          <li>
            <a href="http://reddit.com/r/rust">Reddit</a> | <a href="http://twitter.com/rustlang">Twitter</a>
          </li>
          <li>
            <a href="https://mail.mozilla.org/listinfo/rust-dev">Mailing List</a>
          </li>
          <li>
            <a href="http://chat.mibbit.com/?server=irc.mozilla.org&amp;channel=%23rust">IRC</a>
          </li>
        </ul>
      </li>
    </ul>
  </header>
      {{ content }}
  </body>
</html>
