<!DOCTYPE html>
<!-- Page last generated {{ site.time }} -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Rust, Rust programming language, rustlang, rust-lang, Mozilla Rust">
    <meta name="description" content="A systems programming language that runs blazingly fast, prevents almost all crashes, and eliminates data races.">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body class="container">
    <a href="https://github.com/rust-lang/rust">
      <img class="ribbon" style="display: none" src="/logos/forkme.png" alt="Fork me on GitHub" width="298" height="298">
    </a>

    <header>

    <ul class="row menu">
      <li class="col-xs-12 col-md-2">
        <a href="index.html">
          <img class="img-responsive" src="logos/rust-logo-blk.svg" onerror="this.src='logos/rust-logo-256x256-blk.png'" height="128" width="128" alt="Rust logo" />
        </a>
      </li>
      <li class="col-xs-4 col-md-2"><h2>Docs (1.4.0)</h2>
        <ul>
          <li><a href="https://doc.rust-lang.org/stable/book/">Book</a></li>
          <li><a href="https://doc.rust-lang.org/stable/reference.html">Reference</a></li>
          <li>
            <a href="https://doc.rust-lang.org/stable/std/">API docs</a></li>
            <li><a href="https://doc.rust-lang.org/stable/">All docs</a>
          </li>
        </ul>
      </li>
      <li class="col-xs-4 col-md-2"><h2>Docs (Nightly)</h2>
        <ul>
          <li><a href="https://doc.rust-lang.org/nightly/book/">Book</a></li>
          <li><a href="https://doc.rust-lang.org/nightly/reference.html">Reference</a></li>
          <li>
            <a href="https://doc.rust-lang.org/nightly/std/index.html">API docs</a></li>
            <li><a href="https://doc.rust-lang.org/nightly/index.html">All docs</a>
          </li>
        </ul>
      </li>
      <li class="col-xs-4 col-md-2"><h2>Community</h2>
        <ul>
          <li>
            <a href="http://this-week-in-rust.org/">News</a>
          </li>
	  <li>
	    <a href="community.html">Community</a>
	  </li>
          <li>
            <a href="legal.html">Legal</a>
          </li>
        </ul>
      </li>
  </header>
      {{ content }}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58390457-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
