<pre class='rust'>
<span class='kw'>fn</span> main() {
<span class='comment'>// Prosty kalkulator dla liczb całkowitych:
// `+` lub `-` oznacza dodanie lub odjęcie 1
// `*` lub `/` oznacza pomnożenie lub podzielenie przez 2</span>

<span class='kw'>let</span> program = <span class='string'>"+ + * - /"</span>;
<span class='kw'>let</span> <span class='kw'>mut</span> accumulator = <span class='number'>0</span>;

<span class='kw'>for</span> token in program.chars() {
<span class='kw'>match</span> token {
    <span class='string'>'+'</span> => accumulator <span class='op'>+=</span> <span class='number'>1</span>,
    <span class='string'>'-'</span> => accumulator <span class='op'>-=</span> <span class='number'>1</span>,
    <span class='string'>'*'</span> => accumulator <span class='op'>*=</span> <span class='number'>2</span>,
    <span class='string'>'/'</span> => accumulator <span class='op'>/=</span> <span class='number'>2</span>,
    _ => { <span class='comment'>/* ignoruj wszystkie pozostałe znaki */</span> }
}
}

<span class='prelude-val'>println!</span>(<span class='string'>"Program \"{}\" wylicza wartość {}"</span>,
   program, accumulator);
}
</pre>
// Ten kod można edytować oraz uruchomić!
fn main() {
    // Prosty kalkulator dla liczb całkowitych:
    // `+` lub `-` oznacza dodanie lub odjęcie 1
    // `*` lub `/` oznacza pomnożenie lub podzielenie przez 2

    let program = "+ + * - /";
    let mut accumulator = 0;

    for token in program.chars() {
        match token {
            '+' => accumulator += 1,
            '-' => accumulator -= 1,
            '*' => accumulator *= 2,
            '/' => accumulator /= 2,
            _ => { /* ignoruj wszystkie pozostałe znaki */ }
        }
    }

    println!("Program \"{}\" wylicza wartość {}",
              program, accumulator);
}
