---
layout: sv-SE/basic
title:  Rusts vänner &middot; Programmeringsspråket rust
---

<div id="users">

  <h1>Rusts Vänner</h1>
  <h2>(Organisationer som kör Rust-kod i produktion)</h2>

  {% include friends-of-rust.html %}

  <p id="user-add-info">
    Om din organisation använder Rust i produktion och du vill visa det på denna
    sidan, <br/>var god
    <a href="{{ site.github_user_add_info_link }}">
      öppna en issue och fyll i informationen som efterfrågas där</a>.
  </p>

</div>

<script type="text/javascript">
  {% include friends.js %}
</script>
