---
layout: fr-FR/basic
title:  Amis de Rust &middot; Rust, le langage de programmation
---

<div id="users">

  <h1>Amis de Rust</h1>
  <h2>(Entreprises utilisant Rust en environnement de production)</h2>

  {% include friends-of-rust.html %}

  <p id="user-add-info">
    Si votre entreprise utilise Rust en production et vous souhaitez figurer sur cette page,<br/>merci
    <a href="{{ site.github_user_add_info_link }}">
     d'ouvrir une issue GitHub en la complétant avec les informations demandées</a>.
  </p>

</div>

<script type="text/javascript">
  {% include friends.js %}
</script>
